:root {
  font-family: 'Avenir Next', 'Segoe UI', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #13263f;
  background: linear-gradient(140deg, #f4f6fa 0%, #f7fbff 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
